#contReg div { 
    width: 30px; height: 30px;
    margin: 2px;


    float: left;
    text-align: center;
    padding-top:5px ;
    box-sizing: border-box0;
}
#contReg div { 
    width: 30px; height: 30px;
    margin: 2px;


    float: left;
    text-align: center;
    padding-top:5px ;
    box-sizing: border-box0;
}